<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_Cms>
            <version>0.0.0.1</version>
        </MageProfis_Cms>
    </modules>

    <global>
        <helpers>
            <mpcms>
                <class>MageProfis_Cms_Helper</class>
            </mpcms>
        </helpers>
        <models>
            <mpcms>
                <class>MageProfis_Cms_Model</class>
            </mpcms>
        </models>
        <events>
            <controller_front_init_routers>
                <observers>
                    <mpcms>
                        <class>MageProfis_Cms_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </mpcms>
                </observers>
            </controller_front_init_routers>
        </events>
        <resources>
            <mpcms_setup>
                <setup>
                    <module>MageProfis_Cms</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </mpcms_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <mpcms>
                        <class>mpcms/observer</class>
                        <method>onCmsPagePreDispatch</method>
                    </mpcms>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <mpcms>
                        <class>mpcms/observer</class>
                        <method>addFieldToMainTab</method>
                    </mpcms>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <mpcms>
                        <class>mpcms/observer</class>
                        <method>addFieldToGrid</method>
                    </mpcms>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
        <translate>
            <modules>
                <MageProfis_Cms>
                    <files>
                        <default>MageProfis_Cms.csv</default>
                    </files>
                </MageProfis_Cms>
            </modules>
        </translate>
    </adminhtml>
</config>